{{!-- 使用flash所傳入的參數error進行顯示訊息的操作 --}}
{{#if error}}
<div>{{error}}</div>
{{/if}}
{{!-- 使用method-override（需先安裝） --}}
<form action="/todos/{{todo.id}}?_method=PUT" method="POST">
  <input type="checkbox" name="isComplete" value="completed" {{#if todo.isComplete}} checked {{/if}}>
  <input type="text" placeholder="todo name..." name="name" value="{{todo.name}}">
  <button type="submit">Save</button>
  <a href="/todos">back</a>
</form>